<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>이미지올려주세요</title>
</head>

<body>
    <div class="qwer">
        <h1>이미지올려주세요</h1>
        <div class="sexy">
            <form method="post" action="/add">
                <input type="name" value="사진링크" name="content">
                <input type="submit">
            </form>
        </div>
        <a href="/list">이미지 보러가기</a>
    </div>
</body>

</html>